<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal.dao.ProfitManagmentMapper">

	<resultMap id="profitManagmentResultMap" type="com.cal.bean.ProfitManagment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="profit_rate" property="profitRate" jdbcType="DOUBLE" />
		<result column="price" property="price" jdbcType="DOUBLE" />
	</resultMap> 

	<!-- 查询利润率 -->
    <select id="queryById" resultMap="profitManagmentResultMap" parameterType="int">
          select * from profit_managment  where id = #{id,jdbcType=INTEGER}  
    </select>

	
</mapper>